<div class="row">
	<div class="span12 centered">
		<h1 class="">Neighborhood Family Search</h1>

		<%= form_tag(root_path) do %>
			<input name="query" type="text" class="input-xlarge" placeholder='neighborhood search' autocomplete="on" />
			<br />
			<button type="submit" class="btn btn-primary btn-large">Search!</button>
		<% end %>

		<hr>

		<% if !@query.blank? %>
			<p class="lead">You searched for: <%= @query.capitalize %></p>
			<br />
			<% if @birth_rates.nil? %>
				<p class="lead small weighted red">That neighborhood is not in the system</p>
			<% else %>
				<p class="lead small weighted pull-left"></p>
				<table class="table">
					<tr>
						<th></th>
						<th>2005</th>
						<th>2006</th>
						<th>2007</th>
						<th>2008</th>
						<th>2009</th>
					</tr>
					<tr>
						<td>Birth Rate</td>
						<td><%= @birth_rates['birth_rate_2005'] %></td>
						<td><%= @birth_rates['birth_rate_2006'] %></td>
						<td><%= @birth_rates['birth_rate_2007'] %></td>
						<td><%= @birth_rates['birth_rate_2008'] %></td>
						<td><%= @birth_rates['birth_rate_2009'] %></td>
					</tr>
					<tr>
						<td>Births</td>
						<td><%= @birth_rates['births_2005'] %></td>
						<td><%= @birth_rates['births_2006'] %></td>
						<td><%= @birth_rates['births_2007'] %></td>
						<td><%= @birth_rates['births_2008'] %></td>
						<td><%= @birth_rates['births_2009'] %></td>
					</tr>
					<tr>
						<td>Deaths</td>
						<td><%= @deaths['deaths_2004'] %></td>
						<td><%= @deaths['deaths_2005'] %></td>
						<td><%= @deaths['deaths_2006'] %></td>
						<td><%= @deaths['deaths_2007'] %></td>
						<td><%= @deaths['deaths_2008'] %></td>
					</tr>
				</table>
			<% end %>


		<% end %>	

			
	</div>
</div>
