<div class="row">
	<div class="span12 centered">
		<h1 class="">Neighborhood Family Search</h1>

		<%= form_tag(root_path) do %>
			<input name="query" type="text" class="input-xlarge" placeholder='neighborhood search' autocomplete="on" />
			<br />
			<button type="submit" class="btn btn-primary btn-large">Search!</button>
		<% end %>

		<hr>

		<% if !@query.blank? %>
			<p class="lead">You searched for: <%= @query.capitalize %></p>
			<br />
			<% if @birth_rates.nil? %>
				<p class="lead small weighted red">That neighborhood is not in the system</p>
			<% else %>
				<p class="lead small weighted pull-left">Birth Rates</p>
				<table class="table">
					<tr>
						<th>1999</th>
						<th>2000</th>
						<th>2001</th>
						<th>2002</th>
						<th>2003</th>
						<th>2004</th>
						<th>2005</th>
						<th>2006</th>
						<th>2007</th>
						<th>2008</th>
						<th>2009</th>
					</tr>
					<tr>
						<td><%= @birth_rates['birth_rate_1999'] %></td>
						<td><%= @birth_rates['birth_rate_2000'] %></td>
						<td><%= @birth_rates['birth_rate_2001'] %></td>
						<td><%= @birth_rates['birth_rate_2002'] %></td>
						<td><%= @birth_rates['birth_rate_2003'] %></td>
						<td><%= @birth_rates['birth_rate_2004'] %></td>
						<td><%= @birth_rates['birth_rate_2005'] %></td>
						<td><%= @birth_rates['birth_rate_2006'] %></td>
						<td><%= @birth_rates['birth_rate_2007'] %></td>
						<td><%= @birth_rates['birth_rate_2008'] %></td>
						<td><%= @birth_rates['birth_rate_2009'] %></td>
					</tr>
				</table>
			<% end %>


		<% end %>	

			
	</div>
</div>
